/* width */

::-webkit-scrollbar {
    width: 20px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(1, 1, 1, 0.4);
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

body { 
    /* #166896 */
    overflow-x: hidden;
    background: #0a4e78;    
    position: relative;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.inline {
    display: inline;
}

.loader {
    margin-top: 15%;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 45%;
}

.loader img {
    height: 100px;
    width: 100px;
}

#content {
    background: #0a4e78;
}

.body-overlay {
    display: none;
    position: absolute;
    /* height: 100vh; */
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#content .container {
    position: relative;
}

.nav-item {
    margin-right: 33px;
    margin-left: auto;
    order: 2;
}

.nav-link {
    color: white;
    font-size: 24px;
    font-family: Adobe Ming Std L;
}

.nav-link:hover {
    color: white;
}

/* mobile navigation view */

.mobile-nav-button {
    background: #333548;
    text-align: center;
    height: 50px;
    display: none;
}

.mobile-nav-button .mobile {
    padding: 4px;
    display: inline-block;
    background: white;
    position: absolute;
    right: 33px;
    top: 4px;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
}

.mobile-nav-button span {
    border: 2px solid #306f1c;
    display: block;
    width: 42px;
    height: 2px;
    margin: 6px 0;
}

.mobile-menu-cross i {
    color: #306f1c;
    font-size: 31px;
    margin: 1px auto;
}

/* mobile nav */

.mobile-nav {
    list-style: none;
    display: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px 0px 5px 5px;
}

.mobile-nav-item {
    margin: 10px 0;
}

/* mobile navigation view end */

.fa-download {
    font-size: 18px;
}

#my-pic img {
    height: 91.5vh;
    min-width: 80%;
}

.my-intro {
    margin: 10em 0;
    padding: 4em 4em;
}

.my-intro h3 {
    font-family: Abadi;
    font-size: 26px;
    color: #066093;
    background: white;
    display: inline-block;
    padding: 2px 6px;
    border-radius: 7px;
    margin-bottom: 18px;
    position: relative;
}

.my-intro h3:after {
    content: '';
    position: absolute;
    left: 43%;
    bottom: -14px;
    border-left: 0px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 14px solid #FFF;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.my-intro h2 {
    color: white;
    font-family: Gabriola;
    font-size: 40px;
    margin: 0;
}

.my-intro p {
    font-size: 15px;
    color: white;
    font-family: Adobe Ming Std L;
}

/* about styling */

.overlay {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.8)
}

#other-details {
    position: relative;
    border-radius: 3px;
}

.mydetails {
    background: url(../images/back.jpg);
    padding-top: 22px;
    padding-bottom: 22px;
}

.mydetails h4 {
    text-align: center;
    color: white;
    font-size: 37px;
    font-family: -webkit-pictograph;
}

.mydetails .left-section {
    margin: 55px 0;
    text-align: center;
    position: relative;
}

.mydetails .right-section {
    margin-top: 50px;
    color: white;
    /* border: 1px solid; */
}

.aboutme-my-pic {
    transform: translateY(-200%);
    transition: 1.5s;
}

.my-pic-about {
    height: 250px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 50%;
    transition: 0.8s;
    box-shadow: 0.5px 0.5px 0px gray;
}

.my-pic-about:hover {
    border: 1px solid gray;
    transition: 0.8s;
    transform: scale(1.1);
    border-radius: 5px;
}

p.role {
    padding-bottom: 12px;
    border-bottom: 1px dashed white;
    font-family: Adobe Ming Std L;
}

.mydetails .right-section h5 {
    font-family: monospace;
    font-size: 30px;
}

table.about-details {
    margin: 40px 0;
    font-size: 18px;
}

table.about-details tr td {
    padding: 5px;
}

table.about-details tr td:first-child {
    padding-right: 25px;
    font-weight: bold;
}

table.about-details tr td:last-child {
    padding-right: 22px;
    font-weight: bold;
}

p.about-para {
    text-align: justify;
    color: white;
    padding: 0 40px;
    font-size: 24px;
}

.other-data-details {
    position: absolute;
    top: -300%;
    left: 0;
    width: 100%;
    color: white;
    z-index: 2;
    overflow: hidden;
}

.cross {
    color: white;
    position: absolute;
    right: 36px;
    top: -6px;
    font-size: 29px;
    cursor: pointer;
}

/* skill styling */

.bg {
    background: gray;
    width: 100%;
}

.skill-section {
    background-color: #861641;
    width: 0;
}

/* animation: progress-bar-stripes 2s linear infinite; */

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    height: 24px;
    /* background-size: 40px 40px; */
}

.skill-details {
    margin-bottom: 28px;
}

.skill-name {
    text-align: left;
}

.skill-percentage {
    text-align: right;
}

.education-details {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
}

.edu-left-section {
    width: 30%;
    /* padding: 10px; */
    text-align: center;
}

.edu-right-section {
    width: 70%;
    padding: 10px;
    text-align: center;
    z-index: 10;
    background: rgba(255, 255, 255, 0.2);
    transform: translateX(200%);
}

.edu-right-section h4 {
    font-size: 30px;
}

.edu-right-section p {
    font-size: 18px;
    margin-bottom: 2px;
}

.edu-year {
    padding: 20px 0;
    background: darkgoldenrod;
    border: 1px solid white;
}

.map-address {
    margin-left: 10px;
}

.map-address iframe {
    height: 400px;
}

.form-group {
    position: relative;
    margin-bottom: 40px;
}

.label {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.form-control {
    width: 97%;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: #d0cfcf;
}

.form-control:focus {
    border-bottom: 1px solid white;
    background: transparent;
    box-shadow: none;
    color: white;
}

.form-control:focus .label {
    bottom: 10px;
}

/* working experience details */

.experience-details {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
}

.exp-left-section {
    width: 30%;
    text-align: center;
    /* opacity: 0; */
    transform: translateX(-100%);
}

.exp-right-section {
    width: 70%;
    padding: 10px;
    text-align: center;
    z-index: 10;
    background: rgba(255, 255, 255, 0.2);
    transform: translate3d(15em, 10em, 15em);
    /* opacity: 0; */
}

.exp-right-section h4 {
    font-size: 30px;
}

.exp-right-section p {
    font-size: 18px;
    margin-bottom: 2px;
}

.working-year {
    padding: 20px 0;
    background: darkgoldenrod;
    border: 1px solid white;
    font-size: 20px;
    transition: 0.5s;
}

.working-year:hover {
    background: transparent;
    transition: 0.5s;
    color: darkgoldenrod;
}

/* media query 992 px */

@media screen and (max-width: 992px) {
    .my-intro {
        margin: 10em 0;
        padding: 0em 1em;
    }
}

@media screen and (max-width: 768px) {
    .eduexp {
        margin-left: 5%;
    }
    .nav-item {
        margin-right: 0px;
    }
    .nav-link {
        font-size: 22px;
    }
    .my-pic-about:hover {
        border: 1px solid gray;
        transition: 0.8s;
        transform: scale(1.05);
        border-radius: 3px;
    }
    table.about-details {
        margin-top: 15px;
        margin-bottom: 40px;
    }
    .col-sm-8 {
        flex: 0 0 90%;
        max-width: 90%;
    }
    .exp-right-section h4 {
        font-size: 28px;
    }
    .edu-right-section h4 {
        font-size: 26px;
    }
    .edu-year {
        /* transform: rotate(-20deg) translateY(36px); */
        font-size: 26px;
    }
}
@media screen and (max-width: 640px){
    .nav-item {
        display: none;
    }
    .mobile-nav {
        width: 94%;
        position: absolute;
        z-index: 1;
        background: rgba(0, 0, 0, 0.7);
    }
    #landing-page .col-sm-12 {
        position: relative;
    }
    .mobile-nav-button {
        display: block;
    }
    .nav-link {
        font-size: 20px;
    }
    .nav-link:hover {
        color: wheat;
    }



    /*  */

    .my-pic-about:hover {
        border: 1px solid gray;
        transition: 0.8s;
        transform: scale(1.05);
        border-radius: 3px;
    }
    .col-sm-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-sm-7 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mydetails .right-section {
        margin-top: 0px;
    }
    .right-section h5 {
        text-align: center;
    }
    .right-section .role {
        text-align: center;
        font-size: 18px;
    }
    table.about-details {
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }
    table.about-details tr {
        box-shadow: 0px 0px 10px aquamarine;
    }
    table.about-details tr td {
        border: 1px solid;
    }
    /* skills page */
    .offset-sm-1 {
        margin-left: 5%;
    }
    .skill-second-half {
        margin-left: 5%;
    }
    .col-sm-4 {
        flex: 0 0 90%;
        max-width: 90%;
    }
    .col-sm-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mydetails .left-section {
        margin: 35px 0;
    }
    .map-address {
        width: 90%;
        margin: auto;
    }
    .contact-form {
        width: 90%;
        margin: auto;
    }
    #my-pic {
        text-align: center;
    }
    .my-intro {
        margin: 3em 0;
        text-align: center;
    }

    /*  */
}

@media screen and (max-width: 576px) {
    .loader {
        margin-top: 31%;
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 43%;        
    }
    .nav-item {
        display: none;
    }
    .mobile-nav {
        width: 94%;
        position: absolute;
        z-index: 1;
        background: rgba(0, 0, 0, 0.7);
    }
    #landing-page .col-sm-12 {
        position: relative;
    }
    .mobile-nav-button {
        display: block;
    }
    .nav-link {
        font-size: 20px;
    }
    .nav-link:hover {
        color: wheat;
    }
    /* about us page */
    .my-pic-about:hover {
        border: 1px solid gray;
        transition: 0.8s;
        transform: scale(1.05);
        border-radius: 3px;
    }
    .col-sm-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-sm-7 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mydetails .right-section {
        margin-top: 0px;
    }
    .right-section h5 {
        text-align: center;
    }
    .right-section .role {
        text-align: center;
        font-size: 18px;
    }
    table.about-details {
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }
    table.about-details tr {
        box-shadow: 0px 0px 10px aquamarine;
    }
    table.about-details tr td {
        border: 1px solid;
    }
    /* skills page */
    .offset-sm-1 {
        margin-left: 5%;
    }
    .skill-second-half {
        margin-left: 5%;
    }
    .col-sm-4 {
        flex: 0 0 90%;
        max-width: 90%;
    }
    .col-sm-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mydetails .left-section {
        margin: 35px 0;
    }
    .map-address {
        width: 90%;
        margin: auto;
    }
    .contact-form {
        width: 90%;
        margin: auto;
    }
    #my-pic {
        text-align: center;
    }
    .my-intro {
        margin: 3em 0;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .nav-item {
        display: none;
    }
    .mobile-nav {
        width: 94%;
        position: absolute;
        z-index: 1;
        background: rgba(0, 0, 0, 0.7);
    }
    .nav-link:hover {
        color: wheat !important;
    }
    #my-pic {
        text-align: center;
    }
    #landing-page .col-sm-12 {
        position: relative;
    }
    .mobile-nav-button {
        display: block;
    }
    .my-intro {
        margin: 2em 0;
        text-align: center;
    }
    .my-intro h2 {
        font-size: 38px;
    }
    .right-section h5 {
        text-align: center;
    }
    .right-section .role {
        text-align: center;
        font-size: 18px;
    }
    table.about-details {
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
        font-size: 15px;
        font-weight: 100;
    }
    table.about-details tr {
        box-shadow: 0px 0px 10px aquamarine;
    }
    table.about-details tr td {
        border: 1px solid;
    }
    p.about-para {
        padding: 0 20px;
    }
    .map-address {
        width: 95%;
        margin: auto;
    }
    .mydetails h4 {
        font-size: 30px;
    }
    .exp-right-section h4 {
        font-size: 22px;
    }
    .edu-right-section h4 {
        font-size: 22px;
    }
    .edu-left-section h2 {
        font-size: 22px;
    }
    .mydetails .left-section {
        margin: 32px 0;
    }
    .nav-link:hover {
        color: rgba(3, 26, 51, 0.726);
    }
    .exp-left-section {
        width: 25%;
        margin-left: 2%;
    }
    .working-year {
        padding: 20px 1px;
    }
    .edu-left-section {
        width: 25%;
        margin-left: 2%;
    }
    .mydetails .right-section {
        width: 94%;
        margin: auto;
    }
    .map-address {
        width: 95%;
        margin: auto;
    }
    .mydetails h4 {
        font-size: 30px;
    }
    .exp-right-section h4 {
        font-size: 22px;
    }
    .edu-right-section h4 {
        font-size: 22px;
    }
    .edu-left-section h2 {
        font-size: 22px;
    }
    .mydetails .left-section {
        margin: 32px 0;
    }
    .nav-link:hover {
        color: rgba(3, 26, 51, 0.726);
    }
}

@media screen and (max-width: 360px) {
    
    .nav {
        display: none !important;
    }
    .mobile-nav {
        width: 94%;
        position: absolute;
        z-index: 1;
        background: rgba(0, 0, 0, 0.7);
    }
    #landing-page .col-sm-12 {
        position: relative;
    }
    .mobile-nav-button {
        display: block;
    }
    .loader {
        margin-top: 50%;
        left: 35%;
    }
    #my-pic {
        text-align: center;
    }
    #my-pic img {
        height: 93.5vh;        
        width: 100%;
    }
    .my-intro {
        margin: 2em 0;
        text-align: center;
    }
    .my-intro h2 {
        font-size: 38px;
    }
    .right-section h5 {
        text-align: center;
    }
    .right-section .role {
        text-align: center;
        font-size: 18px;
    }
    table.about-details {
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
        font-size: 15px;
        font-weight: 100;
    }
    table.about-details tr {
        box-shadow: 0px 0px 10px aquamarine;
    }
    table.about-details tr td {
        border: 1px solid;
    }
    p.about-para {
        padding: 0 20px;
    }
    .mydetails .right-section {
        width: 94%;
        margin: auto;
    }
    .map-address {
        width: 95%;
        margin: auto;
    }
    .mydetails h4 {
        font-size: 30px;
    }
    .exp-right-section h4 {
        font-size: 22px;
    }
    .edu-right-section h4 {
        font-size: 22px;
    }
    .edu-left-section h2 {
        font-size: 22px;
    }
    .mydetails .left-section {
        margin: 32px 0;
    }
    .nav-link:hover {
        color: rgba(3, 26, 51, 0.726);
    }
    .eduexp {
        margin-left: 0%;
    }
    .col-sm-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
